﻿@model IEnumerable<webProjeOdevi.DAL.Cart>


@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Anasayfa</a></li>
                <li class="active">Sepetim</li>
            </ol>
        </div>
    </div>
</div>

<!--start-ckeckout-->
<div class="ckeckout">
    <div class="container">
        <div class="ckeck-top heading">
            <h2>SEPETİM</h2>
        </div>
        <div class="ckeckout-top">
            <div class="cart-items">
                <h3>Sepettekiler</h3>


                <div class="in-check">
                    <ul class="unit">
                        <li><span>Ürün</span></li>
                        <li><span>Ürün Adı</span></li>
                        <li><span>Birim Fiyat</span></li>
                        <li> </li>
                        <div class="clearfix"> </div>
                    </ul>


                    @foreach (var cart in Model)
                    {

                    <ul class="cart-header">
                        <div class="close1"> </div>
                        <li class="ring-in">
                           <img src="~/Content/images/@cart.Item.ITM_Photo" class="img-responsive" alt="">
                        </li>
                        <li><span class="name">@cart.Item.ITM_Name</span></li>
                        <li><span class="cost">@cart.Item.ITM_Price TL</span></li>
                        <div class="clearfix"> </div>
                    </ul>

                    }

                </div>
            </div>
        </div>
    </div>
</div>
<!--end-ckeckout-->