﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="bnr" id="home">
    <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider4">
            <li>
                <img src="~/Content/images/slide1.jpg" alt="" />
            </li>
            <li>
                <img src="~/Content/images/slide2.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>

<script src="~/Content/js/responsiveslides.min.js"></script>
<script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: true,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });

			    });
</script>


@if (Session["giris"] != null)
{
    <div class="about">
        <div class="container">
            <div class="about-top grid-1">
                <div class="col-md-4 about-left">

                    <a href="@Url.Action("ItemList", "Home",new {CAT_ID=2},null)">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="~/Content/images/desktop.jpg" alt="" />
                            <figcaption>
                                <h2>Masaüstü</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 about-left">
                    <a href="@Url.Action("ItemList", "Home",new {CAT_ID=1},null)">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="~/Content/images/laptop.jpg" alt="" />
                            <figcaption>
                                <h2>Dizüstü</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 about-left">
                    <a href="@Url.Action("ItemList", "Home",new {CAT_ID=3},null)">
                        <figure class="effect-bubba">
                            <img class="img-responsive" src="~/Content/images/tablet.jpg" alt="" />
                            <figcaption>
                                <h2>Tablet</h2>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

<hr><hr/>

<hr><hr />