﻿@model IEnumerable<webProjeOdevi.DAL.Item>
@{
    ViewBag.Title = "ItemList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Anasayfa</a></li>
                <li class="active">Ürünler</li>
            </ol>
        </div>
    </div>
</div>
<!--prdt-starts-->
<div class="prdt">
    <div class="container">
        <div class="prdt-top">
            <div class="col-md-12 prdt-left">
                <div class="product-one">

                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 product-left p-left">
                            <div class="product-main simpleCart_shelfItem">
                                <a href="@Url.Action("Item", "Home", new { ITM_ID = item.ITM_ID }, null)" class="mask"><img class="img-responsive zoom-img" src="~/Content/images/@item.ITM_Photo" alt="" /></a>
                                <div class="product-bottom">
                                    <h3>@item.ITM_Name</h3>
                                    <p>@item.ITM_Desc</p>
                                    <h4><span class="item_price">@item.ITM_Price TL</span></h4>
                                </div>

                            </div>
                        </div>
                        
                    }


                    <div class="clearfix"></div>
                </div>

            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--product-end-->