﻿
@{
    ViewBag.Title = "Giriş";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("GirisYardimci", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken();

<!--start-breadcrumbs-->
<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Ana Sayfa</a></li>
                <li class="active">Giriş Yap</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--account-starts-->
<div class="account">
    <div class="container">
        <div class="account-top heading">
            <h2>HESAP</h2>
        </div>
        <div class="account-main">
            <div class="col-md-6 account-left">
                <h3>Kayıtlı Müşteri</h3>
                <div class="account-bottom">
                    <form>
                        <input placeholder="Email" type="text" tabindex="3" name="username" required>
                        <input placeholder="Şifre" type="password" tabindex="4" name="password" required>
                        <div class="address">

                            <input type="submit" value="Login">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 account-right account-left">
                <h3>Hesap Oluştur</h3>
                <p>Ürünleri görüntülemek için giriş yapmalısınız.</p>
                <a href="/Home/Register">Hesap oluştur</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
}