﻿
@{
    ViewBag.Title = "Kayıt Ol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Kaydol", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.AntiForgeryToken();

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-main">
            <ol class="breadcrumb">
                <li><a href="/Home">Ana Sayfa</a></li>
                <li class="active">Kayıt Ol</li>
            </ol>
        </div>
    </div>
</div>
<!--end-breadcrumbs-->
<!--register-starts-->
<div class="register">
    <div class="container">
        <div class="register-top heading">
            <h2>KAYIT OL</h2>
        </div>
        <div class="register-main">
            <form>
                <div class="col-md-6 account-left">
                    <input placeholder="İsim" name="USR_Name" type="text" tabindex="1" required>
                    <input placeholder="Soyisim" name="USR_Surname" type="text" tabindex="2" required>
                    <input placeholder="Kullanıcı Adı" name="USR_Username" type="text" tabindex="3" required>

                    <input placeholder="Email" name="USR_Email" type="text" tabindex="4" required>

                </div>
                <div class="col-md-6 account-left">
                    <input placeholder="Şifre" name="USR_Password" type="password" tabindex="5" required>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="address submit">
            <input type="submit" value="Gönder">
        </div>
    </div>
</div>
}