﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Kaan ÇETİN</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function(){$(".memenu").memenu();});</script>
    <!--dropdown-->
    <script src="~/Content/js/jquery.easydropdown.js"></script>

</head>
<body>
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                @if (Session["giris"] != null)
                {
                    <h4 style="color:white">@Session["username"].ToString()</h4>
                    <a href="/Home/Login" ><h4 style="color:white">Çıkış</h4></a>
                }
                else
                {
                    <a href="/Home/Login"><h4 style="color:white">Giriş Yapın</h4></a>
                }
                
            </div>
        </div>
    </div>

    <div class="logo">
        <a href="/Home"><h1>Kaan Teknik</h1></a>
    </div>

    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-12">
                    <div class="top-nav text-center">
                        <ul class="memenu skyblue">

                            @if (Session["giris"] != null)
                            {
                            <li class="grid"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                            <li class="grid"><a href="@Url.Action("ItemListAll","Home")">Ürünler</a></li>
                            <li class="grid"><a href="@Url.Action("Cart","Home")">Sepetim</a></li>
                            <li class="grid"><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                            <li class="grid"><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                            }
                            else
                            {
                                <li class="grid"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
                                <li class="grid"><a href="@Url.Action("About","Home")">Hakkımızda</a></li>
                                <li class="grid"><a href="@Url.Action("Contact","Home")">İletişim</a></li>
                            }
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-6 infor-left">
                    <h3>Bizi Takip Edin</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                    </ul>
                </div>

                <div class="col-md-6 infor-left">
                    <h3>Satıcı Bilgileri</h3>
                    <h4>
                        Kaan ÇETİN,
                        <span>Türkiye Sakarya</span>
                        Adres Bilgileri
                    </h4>
                    <h5>+90 532 307 8669</h5>
                    <p><a href="mailto:kaancetn@gmail.com">kaancetn@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @*end-information*@

    @*start-footer*@
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 footer-left">
                    <form>
                        <input type="text" value="Email adresinizi giriniz" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email adresinizi giriniz';}">
                        <input type="submit" value="Abone Ol">
                    </form>
                </div>
                <div class="col-md-6 footer-right">
                    <p>Kaan ÇETİN</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @*end-footer*@
</body>
</html>
